---
import IndexedInfo from "./IndexedInfo.astro";

const baseUrl = Astro.url.origin;
let hasChecked = false;
let isIndexed = false;
let url = "";
let message = "Please enter a URL to check if it has been scraped.";

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		url = data.get("url") as string;

		isIndexed = await checkIfIndexed(url);

		hasChecked = true;
		message = isIndexed
			? `Yes, we have scraped ${url}! `
			: `No, we have not scraped ${url} yet.`;
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
			message = "Error checking URL";
			hasChecked = true;
		}
	}
}

async function checkIfIndexed(url: string) {
	const targetUrl =
		new URL(Astro.url.origin + "/api/isIndexed").href +
		`?url=${encodeURIComponent(url)}`;

	const response = await fetch(targetUrl, {
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	});

	if (!response.ok) {
		throw new Error(
			`Error fetching search results: ${response.statusText} (${response.status})`
		);
	}

	const isIndexed = (await response.json()).indexed as boolean;
	return isIndexed;
}
---
<span>
    <a href="/">Back</a>
</span>

<form method="POST">
	<span id="baseUrl" style="display:none;">{baseUrl}</span>
	<h2>Have we scraped u?</h2>

	{
		hasChecked && (
			<div
				class="message-box"
				style="padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px;"
			>
				{isIndexed ? (
					<IndexedInfo url={url} indexed={true} />
				) : (
					<IndexedInfo url={url} indexed={false} />
				)}
			</div>
		)
	}

	<div>
		<label for="url">Website URL (no https):</label>
		<input
			type="text"
			maxlength="50"
			id="url"
			name="url"
			placeholder="example.com"
			required
		/>
	</div>

	<button type="submit">Let's check!</button>
</form>
