---
import Searchbar from "./Searchbar.astro";
import { slide } from "astro:transitions";

const queryParam = Astro.url.searchParams.get("q");
const query = queryParam ? decodeURIComponent(queryParam) : "";

if (!query || query.trim() === "") {
    return Astro.redirect("/");
}

const targetUrl =
	new URL(Astro.url.origin + "/api/search").href +
	"?q=" +
	encodeURIComponent(query);

const response = await fetch(targetUrl, {
	method: "GET",
	headers: {
		"Content-Type": "application/json",
	},
});

if (!response.ok) {
	throw new Error(
		`Error fetching search results: ${response.statusText} (${response.status})`
	);
}

const results = await response.json();
const metadata = await results.results.metadata;
const time = await metadata.time || 0;
const resultList = await results.results.results || [];

let voteResults;

if (Astro.request.method == "POST") {
    const body = await Astro.request.formData();
    if (query) {
        const targetUrl = new URL(Astro.url.origin + "/api/vote").href;
        const response = await fetch(targetUrl, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                vote: body.get("website_id"),
                ip: Astro.clientAddress,
            }),
        });
        if (!response.ok) {
            throw new Error(
                `Error casting vote: ${response.statusText} (${response.status})`
            );
        }
        voteResults = await response.json();
    }
}

---

<>
	<div class="header">
		<a href="/" style="text-decoration: none; color: inherit;">
            <h1 class="mega-title" style="font-size: 3rem; margin: 0;">IndieSeas</h1>
        </a>
        <span style="margin: 5px;"></span>
        <Searchbar 
            transition:animate={slide({duration: "0.4s"})} 
            transition:name="searchbar" 
            transition:persist
            query={query}
        />
        <style>
            .header {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                width: 100%;
                padding: 5px;
            }
        </style>
	</div>
    {voteResults?.message}
	<hr style="margin-top: 0;"/>
	<div id="results">
        <style>
            #results {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding: 5px;
            }
            .result {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                padding: 5px;
            }
            .result * {
                margin: 0;
                padding: 0;
            }
        </style>
            <>
                <p>Found {metadata?.finalCount || 0} results out of {metadata?.originalDbCount || 0} possible results for "{query}" in {time.toFixed(4)} miliseconds.</p>
                {
                    resultList
                        .map((result: { website_id: number, website: string, title?: string, description?: string, total_similarity: number, score?: number, matched_types_list: any}) => (
                            <div class="result">
                                {JSON.stringify(result)}
                                <span style="display: inline-flex; flex-direction: row; justify-content: start; align-items: center;">
                                    <form method="POST">
                                        <input type="hidden" name="website_id" value={result.website_id} />
                                        <button type="submit" style="background: none; border: none; color: gold; cursor: pointer; padding: 0; margin: 0 5px 0 0;">★</button>
                                    </form>
                                    <a href={result.website} target="_blank">
                                        <h2>{result.title || result.website}</h2>
                                    </a>
                                </span>
                                <p>{result.description || "No description provided."}</p>
                                <p style="font-size: 0.8rem; color: gray;">{result.website}</p>
                                <p style="font-size: 0.8rem; color: gray;">
                                    Score: {result.score?.toFixed(4) || "N/A"} | 
                                    Match level: 
                                    {result.matched_types_list && result.matched_types_list.map((type: string) => (
                                        <span style="color: gold;">★</span>
                                    ))}
                                </p>
                            </div>
                        ))
                }
            </>
	</div>
</>
