---
let title = "IndieSeas";
if (Astro.props.title) {
	title = `${title} - ${Astro.props.title}`;
}
import favicon from "../assets/favicon.svg";
import { ClientRouter, slide } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="IndieSeas - A search engine for the indie web." />
		<meta name="keywords" content="IndieSeas, IndieWeb, search engine, indie web" />
		<meta name="author" content="Poyo" />
		<meta name="theme-color" content="#10101a" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div style="padding-bottom: 3rem;">
			<slot />
		</div>
		<footer>
			<a href="/check">Have I been indexed?</a>
			<span>|</span>
			<a href="/random">Discover a random website!</a>
			<span>|</span>
			<a href="/buttons">The Gallery&trade;</a>
			<span>|</span>
			<a href="https://team.indieseas.net/">Team</a>
			<span id="copyright">Copyright <a href="https://poy.ooo">Poyo</a> & IndieSeas 2025. <img src="/indieseas_button.png" alt="IndieSeas Button" width="88" height="31" class="button" /></span>
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--background: #10101a;
		--text: #fffffd;
		--primary: #5788ff;
		--secondary: #a5ffb1;
	}

	@font-face {
		font-family: "Jua";
		src: url("/fonts/jua.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "Karla";
		src: url("/fonts/karla.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
	}

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Jua";
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 1vh;
		background-color: var(--background);
		color: var(--text);
		font-family: "Karla", sans-serif;
		overflow-x: hidden;
	}

	footer {
		margin-top: auto;
		padding: 1rem;
		background-color: var(--background);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}

	#copyright {
		float: right;
		margin-left: auto;
	}

	a {
		color: var(--primary);
	}
	.search-container,
	.search-container form {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
	}

	input[type="text"], input[type="url"], select {
		margin-right: 0.25vw;
		width: fit-content;
		padding: 10px;
		border: 5px solid var(--primary);
		border-radius: 12.5px;
		font-size: 16px;
		color: var(--text);
		background-color: var(--background);
		transition: 0.3s ease;
	}
	input[type="text"]:focus, input[type="url"]:active, select:active {
		outline: none;
		border-color: var(--secondary);
	}

	button,
	input[type="submit"] {
		background-color: transparent;
		padding: 10px 20px;
		border: 5px solid var(--primary);
		border-radius: 12.5px;
		color: var(--text);
		font-size: 16px;
		cursor: pointer;
		height: 100%;
		transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	button:hover,
	input[type="submit"]:hover, select:hover {
		border-color: var(--secondary);
		transform: scale(1.2) rotate(5deg);
	}

	.button-88x31 {
		transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		z-index: 1000;
	}

	.button-88x31:hover {
		transform: scale(1.5) rotate(5deg);
	}
</style>